/* Partie du Main */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom : 2em;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #020659;
  }
  
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  .slider{
    border-radius: 34px;
  }
  
  .slider :before{
    border-radius: 50%;
  }


main{
    display: flex;
    flex-direction: row;
}

#import{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 10%;
}

div#action{
    justify-items: center;
    align-items: flex-start;
    display: grid;
}

/*Formulaire*/
form input[type=text] , form select{
    width: 25em;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-top: 1em;
    margin-bottom: 1em;
}

h1.Titre{
    display: flex;
    flex-direction: column;
    align-items: center;
}


  .import{
  margin-bottom: 1em;
}


input[type=file] {
  color: #222245;
  padding: 8px 15px;
  background-color: #fff;
  height:60px;
}

input[type=file]::file-selector-button {
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #2C2E59;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  max-width: 100%;
  padding: 2px 20px;
  position: relative;
  text-align: center;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  width: auto;
}

input[type=file]::file-selector-button:hover {
  background: #3FA693;
  color: #0D0D0D;
  transform: scale(1.05);
}

.Tag {
  background-color: #2C2E59;
  border-radius: 100px;
  color:#ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
}

.Tag:hover {
  box-shadow: #1c1d41 0 -15px 10px -10px inset,#1c1d41 0 1px 2px,#1c1d41 0 2px 4px,#1c1d41 0 4px 8px;
  transform: scale(1.05);
}

input#nouvelleEntreprise{
    display: none;
}

iframe#preview{
    width: 100%;
    height: 90%;
    margin-top:5%;
}

div#tags{
  display: none;
  width: 25em;
  height: 10em;
  overflow-y: scroll;
}

.red-tremble{
  animation: shake 0.2s ease-in-out 0s 2;
  
}

@keyframes shake {
  0% {
    background-color: #2C2E59;
    margin-left: 0rem;
  }
  25% {
    margin-left: 0.5rem;
  }
  75% {
    margin-left: -0.5rem;
  }
  100% {
    background-color: red;
    margin-left: 0rem;
  }
}

@keyframes red-alert {
  0% {
    background-color: #2C2E59;
  }

  100% {
    color: red;
  }
}


.fullsized {
  border: 2px solid red; /* Highlights the input with a red border */
  background-color: #f8d7da; /* Light red background to indicate an issue */
  color: #721c24; /* Dark red text */
}

.fullsized::placeholder {
  color: #721c24; /* Dark red placeholder text */
  font-weight: bold; /* Emphasized warning */
}

.hidden {
  display: none;
}

div#feedback{
  display: none;
  padding: 15px;
  font-size: larger;
  border-radius: 15px;
}

div#feedback.good{
  background-color: lightgreen;
  color: black;
}

div#feedback.bad{
  background-color: lightcoral;
  color: black;
}

div#feedback.incomplete{
  background-color: rgb(255, 214, 138);
  color: black;
}

#taginfos{
  margin-bottom: 10%;
  text-align: center;
  margin-left: 7%;
}



/*Bouton de validation du formulaire*/

.boutonNegatif{

  align-items: center;
  height: 48px;
  justify-content: center;
  max-width: 100%;
  padding: 2px 20px;
  position: relative;
  text-align: center;
  width: auto;
  margin-bottom : 100%;
  margin-top : 10%;

  background-color: hsl(0, 3%, 62%);
  border-radius: 24px;
  border-style: none;
  box-sizing: border-box;
  color: #474747;
  font-size: 14px;
  font-weight: 500;
}

div.infos{
  color: rgb(109, 109, 109);
  width: fit-content;
  justify-content: center;
  border-radius: 15px;
}

div#confidentialdiv{
  display: grid;
  grid-template-columns: 1fr 2fr ;
  justify-items: center;
  text-align: left;
  align-items: center;
  width: 25em;
}

span.needed{
  color: red;
}



.tooltip{
  display: inline;
  position: relative;
}

.tooltip:hover:after{
  background-color:#020659;
  border-radius: 5px;
  bottom: 26px;
  color: #fff;
  content: attr(title);
  left: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
}

.tooltip:hover:before{
  border: solid;
  border-color: #333 transparent;
  border-width: 6px 6px 0 6px;
  bottom: 20px;
  content: "";
  left: 50%;
  position: absolute;
  z-index: 99;
}

.infoBulle{
  background:#2C2E59;
  color :white;
  border-radius: 50%;
  margin-left: 5px;
  font-size: smaller;
  outline: none;
  text-decoration: none;
  padding: 3px 5px 0;
}

.infoBulleMot{
  margin-left: 5px;
  outline: none;
  font-size: larger;
  text-decoration: underline;
  font-style: italic;
}