body{
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    margin: 0;
}

header
{
    border-bottom: #020659 1px solid;
}

header img
{
    height: 45px;
    width: 75px;
    align-items: left;
}

header h1
{
    color: #3fa693;
    font-weight: bold;
    text-align: center;
    font-size: 3em;
}

    /* Menu Burger */

.BurgerMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: auto;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.BurgerMenu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.BurgerMenu a:hover {
    color: #f1f1f1;
}

.BurgerMenu .fermer {
    position: absolute;
    top: 0;
    right: 25px;
    left: auto;
    font-size: 36px;
    margin-left: 50px;
}

.iconBurger {
    display: inline-block;
    cursor: pointer;
}

.iconBurger span {
    display: block;
    width: 4em;
    height: 1em;
    margin: 10px;
    background-color: #333;
    transition: 0.4s;
}
  
/*boutons*/

.bouton {
  align-items: center;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #2C2E59;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  max-width: 100%;
  padding: 2px 20px;
  position: relative;
  text-align: center;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  width: auto;
  margin-bottom : 3em;
  margin-top : 1em;
}

.bouton:hover {
  background: #3FA693;
  color: #0D0D0D;
  transform: scale(1.05);
}

/* Fonctionnement et styles des bulles d'informations */
.tooltip{
    display: inline;
    position: relative;
}
.tooltip:hover:after{
    background-color:#020659;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

/* Footer */

#gk-footer {
    font-size: 12px;
    padding: 25px;
    line-height: 17px;
    min-height: 340px;
    margin-top: 10px;
    font-weight: 100;
    font-family: 'titilliumregular' !important;
    background: #020659;
    color: #fff;
}

* {
    outline: none !important;
}

.dib {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin: -2px;
}

.image {
    width: 275px;
    height: 275px;
    display: block;
    margin-right: 30px;
    float:left;
}

.souli {
    font-style: italic;
    text-decoration: underline;
}

a:hover{
    cursor: pointer;
}

#boutonDeco{
    margin-top: 10%;
    background-color: #cfcfcf;
    border-radius: 24px;
    height: 40px;
    max-width: 100%;
    padding: 2px 20px;
    margin-left: 10%;
    width: auto;
    font-weight: bold;
    color: rgb(77, 0, 0);
}
#boutonDeco:hover {
    background: #e7e7e7;
    color: #b10000;
    transform: scale(1.05);
  }