

    /*Page de Login */

.Enveloppe{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 65vh;
    background: url('../../images/IQ.jpg') no-repeat;
    background-size: cover;

    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.LoginBox{
    width: 310px;
    height: 450px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding: 20px 40px;
}

.LoginBox h1{
    font-size: 36px;
    text-align: center;
}

.LoginBox .input-box{
    width: 100%;
    height: 20px;
    margin: 30px 0;
}

.LoginBox .input-box input{
    width: 97%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 15px;
}

.LoginBox .input-box input::placeholder{
    color: #000000;
}

.Enveloppe .boutonLogin{
    width: 100%;
    height: 30px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}


.Enveloppe .boutonLogin:hover{
    background: #2C2E59;
    color: #fff;
}   

.Enveloppe .register{
    font-size: 14.5px;
    text-align: center;
    margin : 10px;
}

.Enveloppe p a {
    text-decoration: none;
    font-weight: 600;
}

.Enveloppe p a:hover{
    text-decoration: underline;
}

.Liste {
    display: flex;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}

.Liste select {
    width: 320px;
    height: 40px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 15px;
    color: #000;
    outline: none;
}

.Liste select option {
    background: #094299;
    color: #fff;
}

.Invisible{
    display: none;
}

    /*Partie du footer*/

    
#gk-footer {
    font-size: 12px;
    padding: 25px 0px 0px 0px;
    line-height: 17px;
    min-height: 340px;
    margin: 0px;
    min-height: 290px;
    font-weight: 100;
    font-family: 'titilliumregular' !important;
    background: #020659;
    color: #fff;
}
* {
    outline: none !important;
}
footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    unicode-bidi: isolate;
    bottom:0;
}
.dib {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    margin: -2px;
}
.image {
    width: 275px;
    height: 275px;
    display: inline-block;
    margin-right: 30px;
    float:left;
}
.souli {
    font-style: italic;
    text-decoration: underline;
}