.importbu {
  display: flex;
  justify-content : flex-end;
  margin-right: 10%;
  margin-top: 15%;
}
h1.Titre{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infoBulle{
  background:#2C2E59;
  color :white;
  border-radius: 50%;
  margin-left: 5px;
  font-size: smaller;
  outline: none;
  text-decoration: none;
  padding: 3px 5px 0;
}

/* Champs de recherche */
.form__group {
position: relative;
padding: 15px 15px 0;
width: 250px;
}

.form__field {
font-family: inherit;
width: 100%;
border: 0;
border-bottom: 2px solid #9b9b9b;
outline: 0;
font-size: 1.3rem;
color: black;
padding: 7px 0;
background: transparent;
transition: border-color 0.2s;

&::placeholder {
  color: transparent;
}

&:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
}

.form__label {
position: absolute;
top: 0;
display: block;
transition: 0.2s;
font-size: 1rem;
color: #9b9b9b;
}

.form__field:focus {
~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #3FA693;
  font-weight:700;    
}
padding-bottom: 6px;  
font-weight: 700;
border-width: 3px;
border-image: linear-gradient(to right,#3FA693,#2C2E59);
border-image-slice: 1;
}

.form__field{
&:required,&:invalid { box-shadow:none; }
}

.recherche{
margin-top: 100px;
}
.btnRechercher{
margin-left: 15%;
}

/*Liste des rapports*/

.listeRapport{
background-color: #d6f0ff;
height: auto;
padding-top: 30px;
box-shadow: -3px -3px 7px #9ecfe0, 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.rapport a{
background-color: #beedff;
border-radius: 5%;
display: grid;
grid-template-columns: 3fr 1fr;
padding-left: 5%;
margin-left : 50px;
margin-right: 50px;
margin-bottom: 50px;
}

.rapport:hover a{
background-color: white;
box-shadow: 10px 5px 5px rgb(14, 160, 128);
}

.imgRapport{
margin: auto;
width : 100px;
height: 100px;
}

div#feedback {
    height: 100%;
}

.pagination {
display: flex;
list-style: none;
margin-right:35px;
}
.pagination li {
flex: 1;
margin: 0px 5px;
background: #beedff;
border-radius: 3px;
box-shadow: -3px -3px 7px #9ecfe0, 3px 3px 5px rgba(94, 104, 121, 0.288);
}
.pagination li a {
font-size: 15px;
text-decoration: none;
color: black;
height: 35px;
display: block;
line-height: 35px;
text-align: center;
}
.pagination li.active {
background: #2C2E59;
}
.pagination li.active a {
font-size: 18px;
color: #ffffff;
}

.pagination li :hover {
color: black;
background-color: white;
border-radius: 3px;
}

.pagination li.active :hover {
background: #2C2E59;
border-radius: 3px;
}

.pagination li.active a :hover{
font-weight: bold;
color: #ffffff;
border-radius: 3px;
}

p.date {
display: flex;
flex-direction: row-reverse;
}