

iframe#preview{
    width: 100%;
    margin-top:5%;
    height:200%;
}

h1{
    text-align: center;
    font-size: 175%;
    text-decoration: underline;
}
h2{
    text-align: center;
    font-size: 150%;
    margin-top: 10%;
}



.InfoBu {
    background-color:#56bdaa;
    color: black;
    border-radius: 5px; 
    border: 2px solid#0d5044; 
    padding: 3px;
    margin: 5px;
    margin-top: 50px;
}

#deletebouton {
  display: flex;
  align-items: center;
  background-color: red;
  color: white;
  border-color: rgb(190, 11, 11);
  border-radius: 24px;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px, rgba(0, 0, 0, .14) 0 6px 10px 0, rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  max-width: 100%;
  padding: 2px 20px;
  position: relative;
  text-align: center;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  width: auto;
}

#deletebouton:hover {
    background-color: white;
    color: red;
    font-weight: bolder;
    border-color: rgb(190, 11, 11);
}

.tags {
    background-color: #2C2E59;
    border-radius: 100px;
    color:#ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
  }
  
  .tags:hover {
    box-shadow: #1c1d41 0 -15px 10px -10px inset,#1c1d41 0 1px 2px,#1c1d41 0 2px 4px,#1c1d41 0 4px 8px;
    transform: scale(1.05);
  }

  div#taglist{
    padding-inline-start: 0px;
  }

  div#taglist ul li{
    margin: 5px;
  }

  div#taglist ul {
    padding-inline-start: 0px;
  }
  

  div#taglist ul li p{
    margin: 5px;
  }

  div#action{
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    justify-items: center;
  }

#taginfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div#options {
  display: grid;
  grid-template-rows: 5fr 1fr;
  align-items: start;
  justify-items: center;
}